// Typography

// Fonts
$font-sans = 'Gordita-Regular', Helvetica, sans-serif
$font-sans-light = 'Gordita-Light', Helvetica, sans-serif
$font-sans-medium = 'Gordita-Medium', Helvetica, sans-serif
$font-sans-bold = 'Gordita-Black', Helvetica, sans-serif
$font-serif = 'atiza', Georgia, serif
$font-mono = 'Liberation Mono', courier, monospace

$primary-font-family = $font-sans
$secondary-font-family = $font-serif
$monospaced-font-family = Monaco, Lucida Console, monspace
