// Typography

// Fonts
$font-sans = 'gordita-regular', Helvetica, sans-serif
$font-sans-light = 'gordita-light', Helvetica, sans-serif
$font-sans-medium = 'gordita-medium', Helvetica, sans-serif
$font-sans-bold = 'gordita-black', Helvetica, sans-serif
$font-serif = 'atiza', Georgia, serif
$primary-font-family = $font-sans
$secondary-font-family = $font-serif
$monospaced-font-family = Monaco, Lucida Console, monspace
